# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Overview

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL : Structured Query Language
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* pandas
* Matplotlib
* Scikit-learn
* TensorFlow and PyTorch
* Keras

| Data Science Tools |
|--------|
|Jupyter|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- Jupyter notebooks originated as "Ipython" for python use.
- Allows combining text,code blocks and code output in a single file.
- JupyterLab allows access to multiple Jupyer notebook files, other code and data files.
- It is compatible with several file formats.

## Author
Dip Panchal